.container {
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  gap: 15px;
}
.inputFrom,
.inputTo {
  width: 50px;
}
.lable {
  margin-right: 15px;
}
.inputFrom {
  margin-right: 15px;
}

@media screen and (min-width: 768px) {
  .inputFrom,
  .inputTo {
    width: 103px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    display: flex;
    flex-direction: row;
    gap: 90px;
  }
}

.select {
  color: #797979;
}

.inputFrom,
.inputTo,
.select {
  padding: 11px;
  border-radius: 7px;
  border: 1px solid #000;
}
.checkboxBlock {
  display: flex;
  align-items: center;
  position: relative;
  width: 237px;
}
.customCheckbox {
  position: absolute;
  opacity: 0;
  left: 198px;
  top: 0;
  width: 38px;
  height: 38px;
}
.lableCheckbox {
  display: flex;
  align-items: center;
}
.lableCheckbox::after {
  content: '';
  display: inline-block;
  width: 37px;
  height: 37px;
  border-radius: 7px;
  border: 1px solid #000;
  margin-left: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.customCheckbox:checked + .lableCheckbox::after {
  background-color: rgb(224, 216, 103);
  background-image: url('../../images/done.png');
}
